<section class="product-carousel-sec">
  <div class="product-carousel-title">
    <h3>{{ section.settings.product_main_title }}</h3>
  </div>
  <div class="owl-carousel product-carousel owl-theme">
    {% for block in section.blocks %}
      <div class="item">
        <div class="product-carousel-img">
          {% if block.settings.product_img %}
            <img src="{{ block.settings.product_img | image_url: master }}" alt="{{ block.settings.product_title }}">
          {% else %}
            <p>No image found</p>
          {% endif %}
        </div>
        <div class="product-carousel-content">
          <h3 class="product-title">{{ block.settings.product_title }}</h3>
          <h6 class="product-old-price">${{ block.settings.product_old_price }}</h6>
          <h6 class="product-price">${{ block.settings.product_price }}</h6>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script>
  $('.product-carousel').owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    responsive: {
      0: { items: 1 },
      600: { items: 2 },
      1000: { items: 3 }
    }
  });
</script>

{% schema %}
{
  "name": "Wake Product Slider",
  "settings": [
    {
      "type": "text",
      "id": "product_main_title",
      "label": "Product Section Title"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product Slider Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_img",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title"
        },
        {
          "type": "text",
          "id": "product_old_price",
          "label": "Product Old Price"
        },
        {
          "type": "text",
          "id": "product_price",
          "label": "Product Price"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Wake Product Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
