<section class="product-carousel-sec">
  <div class="product-carousel-title">
    <h3>{{ section.settings['product-main-title'] }}</h3>
  </div>
  <div class="owl-carousel product-carousel owl-theme">
    <div class="item">
      <div class="product-carousel-img">
        <img src="{{ product.featured_image | image_url: 'master' }}" alt="{{ product.title }}">
      </div>
      <div class="product-carousel-content">
        <h3 class="product-title">{{ section.settings['product-title'] }}</h3>
        <h6 class="product-old-price">{{ section.settings['product-old-price'] }}</h6>
        <h6 class="product-price">{{ section.settings['product-price'] }}</h6>
      </div>
    </div>
  </div>
</section>

<script>
    $('.product-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:2
          },
          1000:{
              items:3
          }
      }
  })
</script>

{% schema %}
  {
    "name": "Wake Product slider",
    "settings": [
      {
        "type": "text",
        "id": "product-main-title",
        "label": "Product Section Title"
      },
      {
        "type": "image_picker",
        "id": "product-img",
        "label": "Product image"
      },
      {
        "type": "text",
        "id": "product-title",
        "label": "Product Title"
      },
      {
        "type": "text",
        "id": "product-old-price",
        "label": "Product Old Price"
      },
      {
        "type": "text",
        "id": "product-price",
        "label": "Product Price"
      },
    ],
    "presets": [
      {
        "name": "Wake Product slider"
}
    ]
  }
{% endschema %}
