<section class="wake-product-featured-sec">
  <div class="product-featured-heading">
    <h3>{{ section.settings['main-featured-heading'] }}</h3>
  </div>

  <div class="product-featured-box">
    <div class="product-featured-card">
      <a href="">
        <div class="product-featured-card-img">
          <img src="{{ section.settings.featured-product-img-1 |  image_url: master  }}" alt="">
        </div>

        <div class="product-featured-card-content">
          <h5>{{ section.settings['featured-product-heading-1'] }}</h5>
          <p class="product-featured-card-description">{{ section.settings['featured-product-description-1'] }}</p>
        </div>
      </a>
    </div>

    <div class="product-featured-card">
      <a href="">
        <div class="product-featured-card-img">
          <img src="{{ section.settings.featured-product-img-2 |  image_url: master  }}" alt="">
        </div>

        <div class="product-featured-card-content">
          <h5>{{ section.settings['featured-product-heading-2'] }}</h5>
          <p class="product-featured-card-description">{{ section.settings['featured-product-description-2'] }}</p>
        </div>
      </a>
    </div>

    <div class="product-featured-card">
      <a href="">
        <div class="product-featured-card-img">
          <img src="{{ section.settings.featured-product-img-3 |  image_url: master  }}" alt="">
        </div>

        <div class="product-featured-card-content">
          <h5>{{ section.settings['featured-product-heading-3'] }}</h5>
          <p class="product-featured-card-description">{{ section.settings['featured-product-description-3'] }}</p>
        </div>
      </a>
    </div>

    <div class="product-featured-card">
      <a href="">
        <div class="product-featured-card-img">
          <img src="{{ section.settings.featured-product-img-4 |  image_url: master  }}" alt="">
        </div>

        <div class="product-featured-card-content">
          <h5>{{ section.settings['featured-product-heading-4'] }}</h5>
          <p class="product-featured-card-description">{{ section.settings['featured-product-description-4'] }}</p>
        </div>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Wake Featured Product",
  "settings": [
    {
      "type": "text",
      "id": "main-featured-heading",
      "label": "Abdullah"
    },
    {
      "type": "image_picker",
      "id": "featured-product-img-1",
      "label": "Featured Image"
    },
    {
      "type": "text",
      "id": "featured-product-heading-1",
      "label": "Featured Card Heading"
    },
    {
      "type": "text",
      "id": "featured-product-description-1",
      "label": "Featured Card Description"
    },
    {
      "type": "image_picker",
      "id": "featured-product-img-2",
      "label": "Featured Image"
    },
    {
      "type": "text",
      "id": "featured-product-heading-2",
      "label": "Featured Card Heading"
    },
    {
      "type": "text",
      "id": "featured-product-description-2",
      "label": "Featured Card Description"
    },
    {
      "type": "image_picker",
      "id": "featured-product-img-3",
      "label": "Featured Image"
    },
    {
      "type": "text",
      "id": "featured-product-heading-3",
      "label": "Featured Card Heading"
    },
    {
      "type": "text",
      "id": "featured-product-description-3",
      "label": "Featured Card Description"
    },
    {
      "type": "image_picker",
      "id": "featured-product-img-4",
      "label": "Featured Image"
    },
    {
      "type": "text",
      "id": "featured-product-heading-4",
      "label": "Featured Card Heading"
    },
    {
      "type": "text",
      "id": "featured-product-description-4",
      "label": "Featured Card Description"
    }
  ],
  "presets": [
    {
      "name": "Wake Featured Product"
    }
  ]
}
{% endschema %}
