<style>
                  .footer-text {
                    color: #000;
                }

                  .footer-top-h {
                    font-size: 18px;
                    margin-bottom: 20px;
                    border-bottom: 2px solid #000;
                    width: 30%;
                    padding-bottom: 15px;
                }
                  .footer-list {
                    padding-left: 0;
                    margin-top: 35px;
                }
                  .footer-list li {
                    list-style-type: none;
                    margin-bottom: 20px;
                    font-size: 14px;
                }
                  .footer-toggle-menu {
                    display: flex
                ;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
                  .footer-list li a {
                    text-decoration: none;
                    color: #000;
                    font-size: 13px;
                }
                  .footer-list li i.fa {
                    color: #000;
                    margin-right: 15px;
                }
                  .inner-nav-list {
                    margin-top: 15px;
                }
                  .main-nav-content{
                    display:none;
                  }
                .nav-show{
                  display:block !important;
                }
                .footer-icons-sec {
                  display: flex
              ;
                  justify-content: flex-start;
                  align-items: center;
                  margin-top: 30px;
              }
              .footer-icons-sec .footer-social-cons a {
                width: 25px;
                height: 25px;
                border-radius: 50px;
                display: flex
            ;
                justify-content: center;
                align-items: center;
                margin-right: 5px;
                color: #fff;
                font-size: 13px;
                background-color: #00adef !important;
                transition: all .5s;
            }

            .footer-icons-sec .footer-social-cons a:hover {
              background-color: #c32025 !important;
          }
          .bg-footer-end {
            background-color: #242424;
        }
        .footer-end {
          display: flex
      ;
          justify-content: space-between;
          align-items: center;
      }
      .footer-end p {
        margin-bottom: 0;
        background-color: #242424;
    }
    .footer-end p a {
      text-decoration: none;
      color: #fff;
  }
</style>

<footer>
  <div class="container-fluid bg-footer px-3 p-md-5">
    <div class="row">
      <div class="col-12 col-md-11 m-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 pr-4 mb-md-5 mb-lg-0">
              <div class="footer-logo">
                <a href="/"><img src="/assets/images/logos/Online-Logo 1.png" alt=""></a>
              </div>
              <p class="footer-text my-5 pe-5">
                Explore Wake Works top-notch foiling, wakeboarding, wakesurfing, and water sport equipment. Our
                extensive range includes the latest gear, boards, and accessories, ensuring you find everything for your
                water adventures. From high-quality foils, wakeboards to durable inflatables, our expertly curated
                selection is perfect for both beginners and pros. Shop now for the best in water sports, backed by our
                commitment to quality and customer satisfaction.
              </p>
            </div>
            <div class="col-lg-3 px-4 mb-4 mb-lg-0">
              <h2 class="footer-text footer-top-h">SHOP</h2>
              {% assign footer_menu = linklists[section.settings.footer_menu] %}

              <ul class="footer-list">
                {% for item in footer_menu.links %}
                  <li>
                    <div class="toggler-footer footer-toggle-menu">
                      <a href="{{ item.url }}" class="bold-font">{{ item.title }}</a>
                      {% if item.links.size > 0 %}
                        <i class="fa fa-plus"></i>
                      {% endif %}
                    </div>
                    {% if item.links.size > 0 %}
                      <div class="main-nav-content" style="display: none;">
                        <ul class="inner-nav-list">
                          {% for subitem in item.links %}
                            <li>
                              <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-lg-3 px-4 mb-4 mb-lg-0">
              <h2 class="footer-text footer-top-h">BOATS</h2>
              {% assign footer_boat_menu = linklists[section.settings.footer_boat_menu] %}
              <ul class="footer-list">
                {% for boat_item in footer_boat_menu.links %}
                  <li>
                    <a href="{{ boat_item.url }}" class="footer-text">{{ boat_item.title }}</a>
                  </li>
                {% endfor -%}
              </ul>
            </div>
            <div class="col-lg-3 px-4 mb-4 mb-lg-0">
              <h2 class="footer-text footer-top-h">ACCOUNT</h2>
              <ul class="footer-list">
                <li>
                  <div class="cart-btn-view p-1 accoutItemContainer">
                    <div class="cart_btn_box">
                      <a
                        style="color: black;font-weight: 600;text-decoration: none;"
                        class="d-flex cart_btn"
                        href="javascript:(void)"
                      >
                        <span><span class="word_cart">CART</span>(<span class="cart-count">0</span>)</span>
                      </a>
                    </div>

                    {% for block in section.blocks %}
                      <div class="cart_btn_box">
                        <a
                          style="color: black;font-weight: 600;text-decoration: none;"
                          href="{{ block.settings.link_url }}"
                          class="footer-text footer-link"
                        >
                          {{ block.settings.link_title }}
                        </a>
                      </div>
                    {% endfor %}
                  </div>

                  <div class="footer-icons-sec">
                    <div class="footer-social-cons">
                      <a target="_blank" href="https://www.facebook.com/idahowatersports/?ref=tn_tnmn"
                        ><i class="fab fa-facebook"></i
                      ></a>
                    </div>
                    <div class="footer-social-cons">
                      <a target="_blank" href="https://www.youtube.com/channel/UCnM4FoQ8XhyXmWpx_txAcCg"
                        ><i class="fab fa-youtube"></i
                      ></a>
                    </div>
                    <div class="footer-social-cons">
                      <a target="_blank" href="https://www.instagram.com/idahowatersports/"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-footer-end py-3">
    <div class="row mx-0">
      <div class="col-11 m-auto px-5">
        <div class="footer-end">
          <p class="footer-text">2024 Copyright Buy Wake Works | <a href="/page/privacy_policy">Privacy Policy</a></p>
          <p class="footer-text"><a href="https://mdsbrand.com/" target="_blank">Powered by MDS Brand</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(document).ready(function(){
  	$(".toggler-footer").click(function(){
  		console.log('toggle foter 1949')
  		if($(this).find("i.fa").hasClass("fa-plus")){
  			$(this).find("i.fa").removeClass("fa-plus").addClass("fa-minus")
  			$(this).next(".main-nav-content").slideDown(400, function(){
  				$(this).addClass("nav-show")
  			})
  		}else if($(this).find("i.fa").hasClass("fa-minus")){
  			$(this).find("i.fa").removeClass("fa-minus").addClass("fa-plus")
  			$(this).next(".main-nav-content").slideUp(400, function(){
  				$(this).removeClass("nav-show")
  			})
  		}
  	})
  })
</script>

{% for block in section.blocks %}
  <div class="cart_btn_box">
    <a
      style="color: black;font-weight: 600;text-decoration: none;"
      href="{{ block.settings.link_url }}"
      class="footer-text footer-link"
    >
      {{ block.settings.link_title }}
    </a>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Footer Navigation",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Select Wake Menu"
    },
    {
      "type": "link_list",
      "id": "footer_boat_menu",
      "label": "Select Boats Menu"
    }
  ],
  "blocks": [
    {
      "type": "link_item",
      "name": "Link Item",
      "settings": [
        {
          "type": "text",
          "id": "link_title",
          "label": "Link Title"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Navigation",
      "category": "Footer"
    }
  ]
}
{% endschema %}
